name: Auto Update
on:
  schedule:
    - cron: '0 * * * *' # щогодини
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install pandas requests
      - name: Run script
        run: python fetch_google_sheet.py
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add sales-data.json daily-sales.json
          git commit -m "Update sales data" || exit 0
          git push
